h1{
    font-size: 70px;
    margin-top: 10px;
    font-weight: 100;
    margin-bottom: 0;
}

p{
    font-size: 20px;
    margin-bottom: 10px;
}

.bilgi input{
    height: 20px;
}

.bilgi label{
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
}

.radio label{
    display: inline;
    margin-bottom: 16px;
}

.check label {
    display: inline-block;
    margin-bottom: 13px;

}